exportPattern("^[^\\.]")

S3method(is, spatialvalid)
S3method(plot, spatialvalid)
S3method(summary, spatialvalid)


import(graphics)
importFrom("ggplot2", aes_string, coord_fixed, element_blank, element_text, fortify, ggplot, geom_point, geom_polygon, scale_colour_manual, scale_shape_manual, theme, theme_bw)
importFrom("geosphere", distm)
importFrom("grDevices", rgb)
importFrom("methods", as, is)
importFrom("raster", as.matrix, crop, extent, raster, rasterize, res)
importFrom("rgeos", gBuffer)
importFrom("rnaturalearth", ne_countries)
importFrom("stats", aggregate, cov, dist, binom.test, complete.cases, IQR, mad, quantile, median, runif)
importFrom("sp", over, proj4string, "proj4string<-", SpatialPoints)
importFrom("utils", data, write.table)